<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HealthCare"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCareApp">

        <!-- Màn hình chào nhập khởi điểm (Launcher Activity) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Màn hình Đăng ký -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Màn hình xác nhận OTP -->
        <activity
            android:name=".OtpActivity"
            android:exported="false" />

        <!-- Màn hình chi tiết bác sĩ & Đặt lịch chính (đang đặt làm màn hình khởi chạy để test) -->
        <activity
            android:name=".ui.DoctorDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Màn hình Thanh toán -->
        <activity
            android:name=".ui.PaymentActivity"
            android:exported="false" />

        <!-- Màn hình Lịch sử khám bệnh -->
        <activity
            android:name=".ui.HistoryActivity"
            android:exported="false" />

        <!-- MainActivity mặc định của project (chưa dùng) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>
</manifest>